# Visual Studio build output and caches
SRC/Debug/
SRC/Release/
SRC/ipch/
.vs/
*.sdf
*.ncb
*.suo
*.user
*.aps
*.VC.db
*.opendb

# CxImage build output
cximage/x86/bin/
cximage/x86/xbuild/
cximage/x86/lib/*
!cximage/x86/lib/*_wd.lib
